@import url("//fonts.googleapis.com/css?family=Lakki+Reddy");
/* line 5, ../sass/wonderland.scss */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url("/images/10830494195_03a1427b1c_k.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 22, ../sass/wonderland.scss */
.flower::-moz-selection {
  background: transparent;
}

/* line 23, ../sass/wonderland.scss */
.flower::selection {
  background: transparent;
}

/* line 25, ../sass/wonderland.scss */
.container {
  background: white;
  margin-top: 120px;
  padding: 0;
  background: url("/images/background/tea1.png");
  max-width: 90%;
}

/* line 33, ../sass/wonderland.scss */
#logo {
  text-align: center;
}
/* line 35, ../sass/wonderland.scss */
#logo img {
  margin-top: -110px;
}

/* line 40, ../sass/wonderland.scss */
h1 {
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  font-size: 3em;
}

/* line 47, ../sass/wonderland.scss */
.bg-light {
  background-color: #FAEBD7 !important;
  opacity: 0.6;
}

/* line 51, ../sass/wonderland.scss */
.navbar {
  border: 1px solid #F0E1CD;
  margin-top: -20px;
}

/* line 56, ../sass/wonderland.scss */
.navbar-toggler {
  border: 1px solid #F0E1CD;
}

/* line 61, ../sass/wonderland.scss */
.nav-link {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

/* line 66, ../sass/wonderland.scss */
.btn-outline-success {
  border: 1px solid #F0E1CD;
  color: #212529;
  font-size: 1em;
}

/* line 72, ../sass/wonderland.scss */
.btn-outline-success:hover {
  background: lightgray;
  border: 1px solid #F0E1CD;
}

/* line 76, ../sass/wonderland.scss */
.navbar-toggler:focus {
  outline: none;
}

/* line 79, ../sass/wonderland.scss */
.form-inline {
  margin-left: -3px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

/* line 85, ../sass/wonderland.scss */
.form-control {
  width: 60%;
  margin-right: 10px;
}

/* line 90, ../sass/wonderland.scss */
.moved {
  margin-left: 35px;
}

/* line 94, ../sass/wonderland.scss */
#telo, #glava, #rep, #quote, #flower-quote, #rose-quote {
  display: none;
}

/* line 98, ../sass/wonderland.scss */
#flowers, #allFlowers {
  display: none;
}

/* line 103, ../sass/wonderland.scss */
.large-paragraf {
  display: none;
}

/* line 107, ../sass/wonderland.scss */
#first-story {
  background: skyblue;
  padding: 10px 25px;
  margin-bottom: 30px;
  box-shadow: -10px 10px 8px -4px #888888;
}
/* line 113, ../sass/wonderland.scss */
#first-story p {
  text-indent: 3em;
  text-align: justify;
}
/* line 117, ../sass/wonderland.scss */
#first-story #headlineStory {
  text-align: center;
  border-bottom: 2px dotted black;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 128, ../sass/wonderland.scss */
#watch {
  width: 130px;
  margin-left: 10px;
  margin-bottom: 5px;
}

/* line 134, ../sass/wonderland.scss */
#headlineStoryMobClock {
  float: right;
  margin-right: 50px;
  width: 25%;
  font-size: 200%;
  text-align: center;
}

/* line 144, ../sass/wonderland.scss */
#celaMacka {
  float: right;
  margin-right: 5px;
  width: 130px;
}

/* line 149, ../sass/wonderland.scss */
#headlineStoryMobCat {
  width: 20%;
  font-size: 200%;
  margin-left: 6%;
  margin-top: 25px;
  text-align: center;
}

/* line 158, ../sass/wonderland.scss */
#second-story {
  background: lightgreen;
  padding: 10px 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: -10px 10px 8px -4px #888888;
}
/* line 165, ../sass/wonderland.scss */
#second-story p {
  text-indent: 3em;
  margin-top: 20px;
  text-align: justify;
}
/* line 170, ../sass/wonderland.scss */
#second-story h2 {
  text-align: center;
  border-bottom: 2px dotted black;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* line 179, ../sass/wonderland.scss */
h2 {
  font-family: 'Lakki Reddy', cursive;
}

/* line 182, ../sass/wonderland.scss */
p {
  font-family: 'Times New Roman', Times, serif;
}

/* line 186, ../sass/wonderland.scss */
#rabbit-banner {
  display: none;
}

/* line 191, ../sass/wonderland.scss */
#rabbit-quote {
  display: flex;
  align-items: center;
}
/* line 196, ../sass/wonderland.scss */
#rabbit-quote p {
  font-family: 'Lakki Reddy', cursive;
}

/* line 201, ../sass/wonderland.scss */
#clock {
  display: none;
}

/* line 205, ../sass/wonderland.scss */
#watch {
  -ms-transform: skew(10deg, -20deg);
  /* IE 9 */
  -webkit-transform: skew(10deg, -20deg);
  /* Safari */
  transform: skew(10deg, -20deg);
}

/* line 212, ../sass/wonderland.scss */
#time-quote {
  display: none;
}

/* line 216, ../sass/wonderland.scss */
#third-story {
  background: lavender;
  padding: 10px 25px;
  margin-bottom: 30px;
  box-shadow: -10px 10px 8px -4px #888888;
}
/* line 224, ../sass/wonderland.scss */
#third-story p {
  text-indent: 3em;
  text-align: justify;
}
/* line 228, ../sass/wonderland.scss */
#third-story #headlineStory {
  text-align: center;
  border-bottom: 2px dotted black;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 240, ../sass/wonderland.scss */
.banner img, .banner2 img {
  max-width: 100%;
}

/* line 245, ../sass/wonderland.scss */
#fourth-story {
  background: #FFFF99;
  padding: 10px 25px;
  margin-top: 30px;
  box-shadow: -10px 10px 8px -4px #888888;
}
/* line 252, ../sass/wonderland.scss */
#fourth-story p {
  text-indent: 3em;
  margin-top: 20px;
  text-align: justify;
}
/* line 257, ../sass/wonderland.scss */
#fourth-story h2 {
  text-align: center;
  border-bottom: 2px dotted black;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* line 266, ../sass/wonderland.scss */
#photo-credit {
  font-size: 0.6em;
  margin-left: 20px;
}

/* line 271, ../sass/wonderland.scss */
#headlineStory {
  display: none;
}

/* line 276, ../sass/wonderland.scss */
#rosa, #rosaOrange, #rosaBlue, #rosaRed, #rosaYellow, #rosaPink {
  display: none;
}

@media only screen and (min-width: 500px) {
  /* line 281, ../sass/wonderland.scss */
  .large-paragraf {
    display: block;
  }

  /* line 284, ../sass/wonderland.scss */
  #headlineStoryMobClock {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 292, ../sass/wonderland.scss */
  .moved {
    margin-left: 0;
  }

  /* line 297, ../sass/wonderland.scss */
  #headlineStory {
    display: block;
  }

  /* line 301, ../sass/wonderland.scss */
  #headlineStoryMobCat, #headlineStoryMobClock {
    display: none;
  }

  /* line 305, ../sass/wonderland.scss */
  .large-paragraf {
    display: none;
  }

  /* line 309, ../sass/wonderland.scss */
  h1 {
    font-size: 3.5em;
  }

  /* line 314, ../sass/wonderland.scss */
  .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* line 321, ../sass/wonderland.scss */
  #celaMacka {
    width: 60%;
    align-items: center;
    justify-content: center;
  }

  /* line 327, ../sass/wonderland.scss */
  #first-story {
    margin-top: 30px;
    margin-right: -20px;
    margin-left: -30px;
    padding-top: 25px;
    margin-bottom: 30px;
  }
  /* line 334, ../sass/wonderland.scss */
  #first-story h2 {
    text-align: center;
    border-bottom: 2px dotted black;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 344, ../sass/wonderland.scss */
  .banner {
    background: #f8f9fa;
    text-align: center;
    margin-top: -10px;
    padding: 10px;
    max-width: 100%;
  }
  /* line 352, ../sass/wonderland.scss */
  .banner img {
    width: 800px;
  }

  /* line 357, ../sass/wonderland.scss */
  #second-story {
    margin-left: -20px;
  }

  /* line 361, ../sass/wonderland.scss */
  #allFlowers {
    display: block;
    max-width: 380px;
  }

  /* line 368, ../sass/wonderland.scss */
  #rabbit-banner {
    display: flex;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 377, ../sass/wonderland.scss */
  #rabbit-quote {
    display: flex;
    align-items: center;
  }
  /* line 382, ../sass/wonderland.scss */
  #rabbit-quote p {
    font-size: 1.8em;
    font-family: 'Lakki Reddy', cursive;
  }

  /* line 387, ../sass/wonderland.scss */
  #watch {
    width: 235px;
  }

  /* line 392, ../sass/wonderland.scss */
  #rosa {
    display: block;
    position: absolute;
    top: 60px;
    left: 10%;
  }

  /* line 399, ../sass/wonderland.scss */
  #third-story {
    margin-right: -20px;
    margin-left: -30px;
    padding-top: 25px;
  }

  /* line 406, ../sass/wonderland.scss */
  .banner2 {
    text-align: center;
    margin-top: -10px;
    background: #f8f9fa;
    padding: 10px;
    max-width: 100%;
  }
  /* line 414, ../sass/wonderland.scss */
  .banner2 img {
    width: 800px;
  }

  /* line 419, ../sass/wonderland.scss */
  #fourth-story {
    margin-left: -20px;
  }
}
@media only screen and (min-width: 980px) {
  /* line 425, ../sass/wonderland.scss */
  .large-paragraf {
    display: block;
  }

  /* line 429, ../sass/wonderland.scss */
  #allFlowers {
    margin-top: 90px;
    max-width: 90%;
  }

  /* line 433, ../sass/wonderland.scss */
  #watch {
    width: 235px;
  }

  /* line 438, ../sass/wonderland.scss */
  #rosa {
    top: 100px;
    left: 20%;
  }

  /* line 442, ../sass/wonderland.scss */
  #photo-credit {
    font-size: 0.8em;
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1140px) {
  /* line 451, ../sass/wonderland.scss */
  #allFlowers {
    margin-top: 20px;
    max-width: 90%;
  }

  /* line 456, ../sass/wonderland.scss */
  #celaMacka {
    width: 50%;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 465, ../sass/wonderland.scss */
  .container {
    max-width: 1140px;
  }

  /* line 469, ../sass/wonderland.scss */
  h1 {
    padding-bottom: 10px;
  }

  /* line 476, ../sass/wonderland.scss */
  #first-story h1 {
    font-size: 4.7em;
  }

  /* line 482, ../sass/wonderland.scss */
  #celaMacka, #AllFlowers {
    display: none;
  }

  /* line 485, ../sass/wonderland.scss */
  .lg-display-col-macka {
    display: block;
  }

  /* line 490, ../sass/wonderland.scss */
  #telo {
    display: block;
    position: relative;
    left: 106px;
    top: -23px;
    visibility: hidden;
  }

  /* line 499, ../sass/wonderland.scss */
  #glava {
    display: block;
    position: relative;
    left: 200px;
    bottom: 210px;
  }

  /* line 507, ../sass/wonderland.scss */
  #rep {
    display: block;
    visibility: hidden;
    position: relative;
    top: 60px;
    left: 91px;
  }

  /* line 515, ../sass/wonderland.scss */
  #quote {
    display: block;
    position: relative;
    bottom: 530px;
    left: 55%;
    width: 160px;
    font-size: 1.3em;
    font-family: 'Lakki Reddy', cursive;
    text-align: center;
  }

  /* line 527, ../sass/wonderland.scss */
  .banner {
    margin-top: -370px;
  }

  /* line 531, ../sass/wonderland.scss */
  #flower-quote {
    display: block;
    position: absolute;
    bottom: 300px;
    left: 150px;
    font-size: 2em;
    font-family: 'Lakki Reddy', cursive;
  }

  /* line 542, ../sass/wonderland.scss */
  #allFlowers {
    display: none;
  }

  /* line 546, ../sass/wonderland.scss */
  #flowers {
    display: block;
  }

  /* line 552, ../sass/wonderland.scss */
  #flower1 {
    height: 231px;
    position: absolute;
    right: 500px;
    top: 180px;
  }

  /* line 558, ../sass/wonderland.scss */
  #flower2 {
    height: 123px;
    right: 400px;
    top: 280px;
    position: absolute;
  }

  /* line 564, ../sass/wonderland.scss */
  #flower3 {
    height: 240px;
    right: 290px;
    top: 180px;
    position: absolute;
  }

  /* line 570, ../sass/wonderland.scss */
  #flower4 {
    height: 418px;
    right: 130px;
    top: 0px;
    position: absolute;
  }

  /* line 578, ../sass/wonderland.scss */
  #flower6 {
    height: 178px;
    right: 30px;
    top: 235px;
    position: absolute;
  }

  /* line 586, ../sass/wonderland.scss */
  #third-story {
    margin-top: -20px;
  }

  /* CLOCK CSS */
  /* line 592, ../sass/wonderland.scss */
  .num {
    height: 100%;
    position: absolute;
    left: calc(50% - 0.5em);
  }

  /* line 597, ../sass/wonderland.scss */
  .num div {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    width: 1em;
    line-height: 2em;
    color: black;
    text-align: center;
    vertical-align: middle;
  }

  /* line 607, ../sass/wonderland.scss */
  .num1 {
    transform: rotate(30deg);
  }

  /* line 611, ../sass/wonderland.scss */
  .num1 div {
    transform: rotate(-30deg);
  }

  /* line 615, ../sass/wonderland.scss */
  .num2 {
    transform: rotate(60deg);
  }

  /* line 619, ../sass/wonderland.scss */
  .num2 div {
    transform: rotate(-60deg);
  }

  /* line 623, ../sass/wonderland.scss */
  .num3 {
    transform: rotate(90deg);
  }

  /* line 627, ../sass/wonderland.scss */
  .num3 div {
    transform: rotate(-90deg);
  }

  /* line 631, ../sass/wonderland.scss */
  .num4 {
    transform: rotate(120deg);
  }

  /* line 635, ../sass/wonderland.scss */
  .num4 div {
    transform: rotate(-120deg);
  }

  /* line 639, ../sass/wonderland.scss */
  .num5 {
    transform: rotate(150deg);
  }

  /* line 643, ../sass/wonderland.scss */
  .num5 div {
    transform: rotate(-150deg);
  }

  /* line 647, ../sass/wonderland.scss */
  .num6 {
    transform: rotate(180deg);
  }

  /* line 651, ../sass/wonderland.scss */
  .num6 div {
    transform: rotate(-180deg);
  }

  /* line 655, ../sass/wonderland.scss */
  .num7 {
    transform: rotate(210deg);
  }

  /* line 659, ../sass/wonderland.scss */
  .num7 div {
    transform: rotate(-210deg);
  }

  /* line 663, ../sass/wonderland.scss */
  .num8 {
    transform: rotate(240deg);
  }

  /* line 667, ../sass/wonderland.scss */
  .num8 div {
    transform: rotate(-240deg);
  }

  /* line 671, ../sass/wonderland.scss */
  .num9 {
    transform: rotate(270deg);
  }

  /* line 675, ../sass/wonderland.scss */
  .num9 div {
    transform: rotate(-270deg);
  }

  /* line 679, ../sass/wonderland.scss */
  .num10 {
    transform: rotate(300deg);
  }

  /* line 683, ../sass/wonderland.scss */
  .num10 div {
    transform: rotate(-300deg);
  }

  /* line 687, ../sass/wonderland.scss */
  .num11 {
    transform: rotate(330deg);
  }

  /* line 691, ../sass/wonderland.scss */
  .num11 div {
    transform: rotate(-330deg);
  }

  /* line 695, ../sass/wonderland.scss */
  .num12 {
    transform: rotate(0deg);
  }

  /* line 699, ../sass/wonderland.scss */
  .num12 div {
    transform: rotate(0deg);
  }

  /* line 703, ../sass/wonderland.scss */
  #sec-hand {
    background: red;
    width: 1px;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  /* line 717, ../sass/wonderland.scss */
  #min-hand {
    background: yellow;
    width: 3px;
    height: 30%;
    position: absolute;
    top: 20%;
    left: calc(50% - 0.05em);
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  /* line 730, ../sass/wonderland.scss */
  #hr-hand {
    background: blue;
    width: 5px;
    height: 20%;
    position: absolute;
    top: 30%;
    left: calc(50% - 0.15em);
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  /* line 743, ../sass/wonderland.scss */
  #watch {
    height: 305px;
    width: 235px;
    -ms-transform: skew(10deg, -20deg);
    /* IE 9 */
    -webkit-transform: skew(10deg, -20deg);
    /* Safari */
    transform: skew(10deg, -20deg);
    margin-top: 20px;
    margin-left: -10px;
  }

  /* line 755, ../sass/wonderland.scss */
  #clock {
    display: block;
    width: 195px;
    height: 195px;
    left: 137px;
    top: 125px;
    background-color: white;
    border: 3px solid #000;
    border-radius: 50%;
    z-index: 9;
    position: relative;
    -ms-transform: skew(10deg, -20deg);
    /* IE 9 */
    -webkit-transform: skew(10deg, -20deg);
    /* Safari */
    transform: skew(10deg, -20deg);
    position: absolute;
  }

  /* END CLOCK CSS */
  /* line 776, ../sass/wonderland.scss */
  #time-quote {
    display: block;
    position: relative;
    bottom: 30px;
    left: 10px;
    width: 120px;
    font-size: 1.5em;
    font-family: 'Lakki Reddy', cursive;
    text-align: center;
  }

  /* line 790, ../sass/wonderland.scss */
  #rosa {
    left: 15%;
    cursor: url("/images/cetka/brush.png"), auto;
  }

  /* line 795, ../sass/wonderland.scss */
  #orange {
    position: absolute;
    left: 130px;
    top: 200px;
  }

  /* line 801, ../sass/wonderland.scss */
  #blue {
    position: absolute;
    left: 210px;
    top: 130px;
  }

  /* line 806, ../sass/wonderland.scss */
  #pink {
    position: absolute;
    left: 220px;
    top: 190px;
  }

  /* line 811, ../sass/wonderland.scss */
  #yellow {
    position: absolute;
    left: 280px;
    top: 240px;
  }

  /* line 816, ../sass/wonderland.scss */
  #red {
    position: absolute;
    left: 190px;
    top: 270px;
  }

  /* line 822, ../sass/wonderland.scss */
  .colors {
    width: 30px;
    height: 30px;
    cursor: url("/images/cetka/brush.png"), auto;
  }

  /* line 830, ../sass/wonderland.scss */
  #rosaOrange, #rosaBlue, #rosaRed, #rosaYellow, #rosaPink {
    display: block;
    position: absolute;
    top: 100px;
    left: 15%;
    cursor: url("/images/cetka/brush.png"), auto;
  }

  /* line 839, ../sass/wonderland.scss */
  #rose-quote {
    display: block;
    position: relative;
    top: -40px;
    left: 160px;
    width: 120px;
    font-size: 1.4em;
    font-family: 'Lakki Reddy', cursive;
    text-align: center;
  }
}
@media only screen and (min-width: 1600px) {
  /* line 853, ../sass/wonderland.scss */
  .container {
    max-width: 1140px;
  }
}
